@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root[data-theme="light"] {
  --background-100: #fbf8fb;
  --background-200: #fbf9fe;
  --primary-100: #f2e8f2;
  --primary-200: #e8d8e8;
  --accent-100: #f0e5f0;
  --accent-200: #ecdfec;
  --accent-300: #9994d9;
  --text-100: #a563a5;
  --text-200: #b077b0;
  --text-300: #69638e;
  --cta-100: #eb85eb;
}
:root[data-theme="dark"] {
  --background-100: #04010a;
  --background-200: #351573;
  --primary-100: #151235;
  --primary-200: #241e5b;
  --accent-100: #272260;
  --accent-200: #362f86;
  --accent-300: #a9a4e5;
  --text-100: #c1b6ff;
  --text-200: #9a91cc;
  --text-300: #736c99;
  --cta-100: #675bf4;
}
:root {
  --confirm-100: hsl(115, 26%, 58%);
  --deny-100: hsl(0, 36%, 58%);
  --confirm-200: hsla(115, 26%, 58%, 0.65);
  --deny-200: hsla(0, 36%, 58%, 0.65);
  --dark: #6d6da6;
  --light: #04010a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background-100);
  color: var(--text-100);
  transition: background-color 120ms, color 80ms;
}
h1 { font-size: 2.75rem; }
h2 { font-size: 2rem; }
h3,h6,header { font-size: 1.75rem; }
p,label { font-size: 1.25rem; }
kbd { font-size: 1.35rem; font-family: monospace; }

.container {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-inline: calc(0.5rem + 1.5625vw);
}
@media (min-width:1800px) {
  .container {
    margin-inline: 16rem;
  }
}
@media (max-width:960px) {
  .sidebar-container {
    display: none;
  }
  nav.page-header p.expanded {
    display: none;
  }
  nav.page-header {
    padding: 0 2rem 0 2rem !important;
    height: 6rem !important;
    background-color: var(--background-100) !important;
  }
  :root {
    font-size: 14px;
  }
  .container {
    margin-inline: calc(0.5rem + 1.5625vw);
  }
}
@media (min-width:961px) {
  nav.page-header p.hidden {
    display: none;
  }
}

nav.page-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  margin: 0 0 0 0;
  padding: 0 8rem 0 8rem;
  top: 0;
  border-bottom: 1px solid var(--accent-200);
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 99;
}
.check-uncheck-buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 0.75rem;
}
.check-uncheck-buttons svg {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  opacity: 0.65;
  transition: opacity 120ms;
}
.check-uncheck-buttons svg:hover:first-child {
  opacity: 1;
  filter: drop-shadow(0px 0px 6px var(--deny-200));
}
.check-uncheck-buttons svg:hover {
  opacity: 1;
  filter: drop-shadow(0px 0px 6px var(--confirm-200));
}
nav.quicklinks {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
.sidebar-container {
  position: relative;
  min-width: 18rem;
  max-width: 18rem;
  margin-right: 3.25rem;
}
.main-container {
  width: 100%;
}
details summary {
  padding: 0.5rem;
  margin-block: 0.25rem;
  background-color: var(--accent-100);
  border-radius: 0.25em;
}
details li {
  padding-block: 0.25rem;
  padding-left: 0.75rem;
  margin-block: 0.25rem;
  background-color: var(--accent-200);
  border-radius: 0.25em;
}
details li a {
  color: var(--text-800);
}
article {
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
}
article header {
  padding-bottom: 0.25rem;
}
header kbd {
  font-size: 1.85rem;
  font-family: monospace;
}
.section-header {
  font-size: 2.75rem;
  font-weight: 500;
  padding-top: 2.75rem;
  color: var(--text-200);
}
label.no-percent {
  font-style: italic;
  color: var(--text-300);
}
ins {
  color: var(--cta-100);
  font-family: monospace;
}
p ins {
  font-size: 1.25rem;
}
.check-uncheck-buttons svg:first-child {
  fill: var(--deny-100);
  cursor: pointer;
}
.check-uncheck-buttons svg:last-child {
  fill: var(--confirm-100);
  cursor: pointer;
}
svg.help-icon {
  fill: var(--text-200);
  margin-left: 0.75rem;
  cursor: help;
}





.collectables-formatting {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
  gap: 0.25em;
  padding-inline: 0.5rem;
    label {
      font-size: 1.25rem;
      font-family: monospace;
    }
}
label {
  display: flex;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
}
label:nth-last-child(1) {
  margin-bottom: 0 !important;
}
.radar-icon {
  padding-right: 0.5em;
  max-height: 32px;
  transform: translateY(1px) scale(1.2);
  display: inline-block;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin-right: 1em;
  font: inherit;
  color: currentColor;
  width: 1em;
  height: 1em;
  border: 0.15em solid var(--cta-100);
  border-radius: 0.2em;
  transform: translateY(0.125em);
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type="checkbox"]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.125em;
  transform: scale(0);
  transition: 80ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--cta-100);
  background-color: var(--background-100);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
hr {
  border: none;
  margin-block: 0.5rem;
  overflow: visible;
  text-align: center;
  height: 0;
}
.list-styling label,
.list-styling-collectable {
  padding-inline: 1.25rem;
  padding: 1.25em;

}
.list-styling label:nth-of-type(odd),
.list-styling-collectable {
  background-color: var(--primary-100);
}
.list-styling label:nth-of-type(even) {
  background-color: var(--primary-200);
}





.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 8rem 2rem 8rem;
  background-color: var(--background-100);
  color: var(--text-700);
  font-size: 0.5rem;
}
.page-footer svg {
  fill: hsla(0, 65%, 55%, 0.45);
  transform: translateY(4px);
}
.page-footer p {
  font-size: 0.75rem;
}
#themeToggle {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-color: var(--primary-200);
  opacity: 0.65;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#themeToggle:hover {
  transition: opacity 120ms, filter 120ms;
  opacity: 1;
  filter: drop-shadow(0 0 8px var(--primary-200));
}
#themeToggle svg {
  fill: var(--text-100);
}
#themeToggle svg:last-child {
  display: none;
}
[data-theme="dark"] #themeToggle svg:first-child {
  display: none;
}
[data-theme="dark"] #themeToggle svg:last-child {
  display: block;
}